.profile {
  &__header {
    @apply flex flex-row items-baseline gap-x-5 mb-12 font-bold;

    h1 {
      @apply text-2xl font-bold my-2.5 text-gray text-left;
    }
    
    label {
      @apply mr-2.5 text-gray;
    }

    select {
      @apply outline-none border border-solid border-gray p-1 rounded-xl font-semibold;
    }
  }
  &__filter {
		input {
      @apply bg-white text-gray rounded-md outline-none pt-0.5 px-1 pb-1 bg-transparent border border-solid border-light-gray shadow-filter;
		}

		input:hover {
      @apply shadow-filter-hover;
		}
    
		input:focus {
      @apply text-gray  border-light-gray outline-none;
		}
  }
}