#root {
//  @apply -mt-16;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.app {
  @apply text-center;

  &__body {
    @apply pt-16 grid grid-cols-[180px_1fr] h-screen;
  }

  &__pages {
    @apply px-16 py-12;
  }
}