.accounts {
  &__header {
    @apply flex flex-row items-baseline gap-x-5 mb-12 font-bold;

    h1 {
      @apply text-2xl font-bold my-2.5 text-gray text-left;
    }
   }

  &__body {
    @apply flex flex-row;

    &--profiles {
      @apply w-8/12;
    }
  }
}